
<template name="legend">
	<div class="legend">
		<span>{{crops.count}} crops</span>
		{{> cropSearch}}
		{{#each cropTypes}}
			<label class={{this}}>{{this}}</label>
		{{/each}}
		{{> limitMonths}}
	</div>
</template>

<template name="crops">
	{{> legend cropTypes=cropTypes crops=crops}}
	<table class="months-{{numberOfMonths}}">
		<thead>
			<th></th>
			{{#each startArray months currentMonth numberOfMonths}}
				<th class={{currentClass}}>{{name}}</th>
			{{/each}}
		</thead>
		<tbody>
			{{#each crops}}
				<tr class="crop-{{type}}">
					<th>
						<a class="btn btn-link toggle-favourite is-{{favourite}}">
							<i class="glyphicon glyphicon-{{#if favourite}}heart{{else}}heart-empty{{/if}}">
							</i>
							{{name}}
						</a>
					</th>
					{{#each startArray months currentMonth numberOfMonths}}
						<td class="crop-cell count-{{cropClasses.length}} {{#each cropClasses}} {{this}}{{/each}} {{currentClass}}">
							{{#each cropTypes}}
								<span class="crop-type {{this}}" data-tooltip={{title}} data-tooltip-direction="w"></span>
							{{/each}}
						</td>
					{{/each}}
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>